.wj-user-info {
    display: inline-block;
}
.wj-user-info .wj-user-info-link, .wj-user-info .wj-error-inline {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    vertical-align: text-bottom;
}
.wj-user-info-avatar {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}
.wj-user-info-avatar + .wj-user-info-name {
    line-height: 16px;
}
.wj-karma, .wj-karma svg {
    display: inline-block;
    height: 16px;
    vertical-align: top;
}
:root {
    --wj-karma-5: rgb(255, 45, 45);
    --wj-karma-4: rgb(236, 129, 14);
    --wj-karma-3: rgb(255, 242, 14);
    --wj-karma-2: rgb(97, 243, 40);
    --wj-karma-1: rgb(97, 243, 167);
    --wj-karma-n: rgb(64, 64, 64);
}
.wj-karma {
    --wj-karma-5-svg: var(--wj-karma-n);
    --wj-karma-4-svg: var(--wj-karma-n);
    --wj-karma-3-svg: var(--wj-karma-n);
    --wj-karma-2-svg: var(--wj-karma-n);
    --wj-karma-1-svg: var(--wj-karma-n);
}
.wj-karma[data-karma="5"] {
    --wj-karma-5-svg: var(--wj-karma-5);
    --wj-karma-4-svg: var(--wj-karma-4);
    --wj-karma-3-svg: var(--wj-karma-3);
    --wj-karma-2-svg: var(--wj-karma-2);
    --wj-karma-1-svg: var(--wj-karma-1);
}
.wj-karma[data-karma="4"] {
    --wj-karma-4-svg: var(--wj-karma-4);
    --wj-karma-3-svg: var(--wj-karma-3);
    --wj-karma-2-svg: var(--wj-karma-2);
    --wj-karma-1-svg: var(--wj-karma-1);
}
.wj-karma[data-karma="3"] {
    --wj-karma-3-svg: var(--wj-karma-3);
    --wj-karma-2-svg: var(--wj-karma-2);
    --wj-karma-1-svg: var(--wj-karma-1);
}
.wj-karma[data-karma="2"] {
    --wj-karma-2-svg: var(--wj-karma-2);
    --wj-karma-1-svg: var(--wj-karma-1);
}
.wj-karma[data-karma="1"] {
    --wj-karma-1-svg: var(--wj-karma-1);
}
.printuser img.small {
    padding: 1px 9px 1px 0;
}
.wj-image-container {
    display: initial;
}